{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
# (MacOS only)
# Iterate over all .toml files in the macos/defaults/ directory and apply the defaults.

python3 "${CHEZMOI_SOURCE_DIR}/../utils/macos-apply-defaults.py" "${CHEZMOI_SOURCE_DIR}/../macos/defaults"

{{- end -}}